#portfolio-section{
    min-height: calc(100vh - 5rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem 8rem 13rem 8rem;
}

#portfolio-section-text{
    display: flex;
    flex-direction: column;
    width: 65%;
}

#portfolio-title{
    font-size: 6rem;
    font-weight: 600;
    color: var(--section-title-color);
}

#portfolio-description{
    font-size: 1.2rem;
    font-weight: 200;
    max-width: 100%;
    line-height: 1.2;
    padding-right: 2rem;
}

.portfolio-info{
    padding: 0 1rem;
    text-align: center;
    margin: 1rem 0 0.5rem 0;
}

.portfolio-info a{
    text-align: right;
    color: white;
    font-size: 1.5rem;
    border: 1px solid var(--highlight-color);
    padding: 0 1rem;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        color: var(--highlight-color);
    }
}

#portfolio-imgs{
    margin: 1rem auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 65%;
}

.portfolio-img{
    object-fit: cover;
    height: 20rem;
    width: 20rem;
    margin: 0.5rem;
    border-radius: 2rem;
    border: 10px solid var(--secondary-bg-color);
    transition: transform 0.2s;

    &:hover{
       transform: scale(1.05); 
    }
}


#portfolio-btn{
    padding: 0.5rem 2.5rem;
    background-color: white;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    margin: 3rem 0 0 0;
    font-weight: 600;
    height: 6vh;
    width: 15rem;
}

#lovins-code{
    visibility: hidden;
}

@media screen and (max-width:1325px) {
    .portfolio-img{
        transition: none;
        &:hover{
            transform: none;
        }

    }
    #portfolio-imgs{
        width: 70%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 10px;
    
    }
    #portfolio-section{
        width: 100%;
        padding: 0;
    }
    #portfolio-section-text{
        width: 80%;   
    }
}


@media screen and (max-width: 720px) {
    .portfolio-img {
        margin: 0;
    }
    #portfolio-imgs{
        gap: 15px;
    }

    #portfolio-description{
        padding-right: 0;
    }

    #portfolio-section{
        padding: 5rem 2rem;
        text-align: center;
        margin: 0;
    }

    .portfolio-info{
        margin-bottom: 1rem;
    }
    
}

@media screen and (max-width: 481px) {
    #portfolio-title{
        font-size: 5rem;
    }

    #portfolio-description{
        padding: 0;
    }

    #portfolio-btn{
        width: 50vw;
    }

    .portfolio-img{
        width: 10rem;
        height: 10rem;
    }
}

