
.navbar{
    height: 5rem;
    width: 100%;
    margin: 0;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    font-size: 1.5rem;
    background-color: var(--bg-color);
}

.logo{
    object-fit: cover;
    height: 5rem;
    width: auto;
}

.desktop-menu-list-item{
    margin: 1rem;
    cursor: pointer;
    color: white;

    &:hover{
        color: var(--highlight-color);
        padding-bottom: 0.5rem;
        border-bottom: 3px solid var(--highlight-color);
    }
}

.desktop-menu-btn{
    border: none;
    background-color: white;
    cursor: pointer;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;

    border-radius: 2rem;
    font-size: 1.2rem;
    transition: background-color 0.3s, transform 0.2s;

    &:hover{
        background-color: var(--secondary-highlight-color);
        transform: scale(1.05);
    }
}

.desktop-menu-email-icon{
    object-fit: cover;
    height: 1.2rem;
    width: auto;
    margin: 1rem 1rem 1rem 0;
}

.active{
    color: var(--highlight-color);
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    #btn-text{
        display: none;
    }

    .desktop-menu-email-icon{
        margin: 1rem;
    }

}