/* :root {
    --bg-color: rgb(30,30,30);
    --text-color: white;
    
}

*{
    box-sizing: border-box;
}

.App {
    margin: 0;
    padding: 0;
    width: 100vw;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}

body{
    background-color:var(--bg-color);
    color: var(--text-color);
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (max-width: 840px) {
    body{
        width: 100%;
    }
    
} */