:root {
    --bg-color: rgb(5, 0, 39);
    --text-color: white;
    --highlight-color: rgb(196, 108, 223);
    --secion-title-color: white;
    --font-family: 'Poppins', sans-serif;
    --secondary-highlight-color: rgb(196, 250, 89);
}

.App {
    margin: 0;
    padding: 0;
    width: 100%;
    text-decoration: none;
    background: transparent;
    font-family: var(--font-family);
    line-height: 1;
}


#page-body{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

